[Unit]
Description=Flask App Service
After=network.target

[Service]
User={{ ansible_user }}
Group={{ ansible_user }}
WorkingDirectory=/opt/flaskapp
ExecStart=/usr/bin/python3 /opt/flaskapp/application2.py
Restart=always

[Install]
WantedBy=multi-user.target